<div class="mail-div-head">
  <h2 class="mail-head">Esqueceu sua senha?</h2>
</div>

<div>
  <p><b class="user-head">Olá, <%= @user.name %>!</b></p>
</div>

<div>
  <p>Utilize este código:</p>
</div>

<div>
  <p><b><%= @user.reset_password_token %></b></p>
</div>

<div>
  <p>para solicitar uma nova!</p>
</div>